annotated-types==0.7.0
asgiref==3.11.1
attrs==26.1.0
bleach==6.4.0
brotli==1.2.0
cattrs==26.1.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cssselect2==0.9.0
diff-match-patch==20241021
Django==5.2.16
django-filter==25.2
django-htmx==1.27.0
django-import-export==4.4.1
fonttools==4.63.0
gunicorn==26.0.0
idna==3.18
kerykeion==5.12.9
Markdown==3.10.2
pillow==12.3.0
platformdirs==4.10.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydyf==0.12.1
pyphen==0.17.2
pyswisseph==2.10.3.2
python-decouple==3.8
pytz==2026.2
requests==2.34.2
requests-cache==1.3.3
scour==0.38.2
simple-ascii-tables==1.0.1
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-extensions==4.16.0
typing-inspection==0.4.2
tzdata==2026.2
url-normalize==3.0.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.3
