asgiref==3.11.1
brotli==1.2.0
cffi==2.1.0
cssselect2==0.9.0
diff-match-patch==20241021
Django==5.2.16
django-filter==25.2
django-htmx==1.27.0
django-import-export==4.4.1
fonttools==4.63.0
gunicorn==26.0.0
pillow==12.3.0
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-decouple==3.8
sqlparse==0.5.5
tablib==3.9.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
