.gradient-form {
    background-color: var(--brand-white);
    height: 100%;
}

@media (min-width: 769px) {
    .bg-brand {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
