<div class="modal-header bg-brand text-white">
    <h5 class="modal-title">{% if object %}Bestellung bearbeiten{% else %}Neue Bestellung{% endif %}</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Schließen"></button>
</div>
<form hx-post="{{ request.path }}" hx-target="#orderModalContent">
    {% csrf_token %}
    <div class="modal-body">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-md-2">
                    <label class="form-label">Bestell-ID</label>
                    {{ form.order_id }}
                    {% include "components/field_errors.html" with field=form.order_id %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Etsy-Bestellnummer</label>
                    {{ form.etsy_order_number }}
                    {% include "components/field_errors.html" with field=form.etsy_order_number %}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Kunde</label>
                    {{ form.customer }}
                    {% include "components/field_errors.html" with field=form.customer %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Verkaufsdatum</label>
                    {{ form.sale_date }}
                    {% include "components/field_errors.html" with field=form.sale_date %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">Status</label>
                    {{ form.status }}
                    {% include "components/field_errors.html" with field=form.status %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Bestellart</label>
                    {{ form.order_type }}
                    {% include "components/field_errors.html" with field=form.order_type %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Zahlungsmethode</label>
                    {{ form.payment_method }}
                    {% include "components/field_errors.html" with field=form.payment_method %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">Zahlungsart</label>
                    {{ form.payment_type }}
                    {% include "components/field_errors.html" with field=form.payment_type %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Etsy-Benutzername</label>
                    {{ form.buyer_username }}
                    {% include "components/field_errors.html" with field=form.buyer_username %}
                </div>
                <div class="col-md-2">
                    <label class="form-label">Anzahl Artikel</label>
                    {{ form.number_of_items }}
                    {% include "components/field_errors.html" with field=form.number_of_items %}
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label class="form-label">Straße &amp; Hausnummer</label>
                    {{ form.ship_street1 }}
                    {% include "components/field_errors.html" with field=form.ship_street1 %}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Adresszusatz</label>
                    {{ form.ship_street2 }}
                    {% include "components/field_errors.html" with field=form.ship_street2 %}
                </div>
                <div class="col-md-3">
                    <label class="form-label">PLZ</label>
                    {{ form.ship_zipcode }}
                    {% include "components/field_errors.html" with field=form.ship_zipcode %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Ort</label>
                    {{ form.ship_city }}
                    {% include "components/field_errors.html" with field=form.ship_city %}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Bundesland/Region</label>
                    {{ form.ship_state }}
                    {% include "components/field_errors.html" with field=form.ship_state %}
                </div>
                <div class="col-md-4">
                    <label class="form-label">Land</label>
                    {{ form.ship_country }}
                    {% include "components/field_errors.html" with field=form.ship_country %}
                </div>
            </div>

            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pill-form-versand" type="button" role="tab">
                        <i class="bi bi-truck me-1"></i>Versand
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pill-form-zahlung" type="button" role="tab">
                        <i class="bi bi-cash-coin me-1"></i>Zahlung &amp; Rabatte
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="pill-form-versand" role="tabpanel">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="form-label">Versendet am</label>
                            {{ form.date_shipped }}
                            {% include "components/field_errors.html" with field=form.date_shipped %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Versandunternehmen</label>
                            {{ form.shipping_carrier }}
                            {% include "components/field_errors.html" with field=form.shipping_carrier %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Sendungsnummer</label>
                            {{ form.tracking_number }}
                            {% include "components/field_errors.html" with field=form.tracking_number %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Versendet als</label>
                            {{ form.package_type }}
                            {% include "components/field_errors.html" with field=form.package_type %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pill-form-zahlung" role="tabpanel">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="form-label">Währung</label>
                            {{ form.currency }}
                            {% include "components/field_errors.html" with field=form.currency %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Bestellwert</label>
                            {{ form.order_value }}
                            {% include "components/field_errors.html" with field=form.order_value %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Versandkosten</label>
                            {{ form.shipping }}
                            {% include "components/field_errors.html" with field=form.shipping %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Umsatzsteuer</label>
                            {{ form.sales_tax }}
                            {% include "components/field_errors.html" with field=form.sales_tax %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label class="form-label">Gutscheincode</label>
                            {{ form.coupon_code }}
                            {% include "components/field_errors.html" with field=form.coupon_code %}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Gutschein-Details</label>
                            {{ form.coupon_details }}
                            {% include "components/field_errors.html" with field=form.coupon_details %}
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Rabattbetrag</label>
                            {{ form.discount_amount }}
                            {% include "components/field_errors.html" with field=form.discount_amount %}
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Versandrabatt</label>
                            {{ form.shipping_discount }}
                            {% include "components/field_errors.html" with field=form.shipping_discount %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="form-label">Bestellsumme</label>
                            {{ form.order_total }}
                            {% include "components/field_errors.html" with field=form.order_total %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Kartengebühren</label>
                            {{ form.card_processing_fees }}
                            {% include "components/field_errors.html" with field=form.card_processing_fees %}
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Netto-Bestellwert</label>
                            {{ form.order_net }}
                            {% include "components/field_errors.html" with field=form.order_net %}
                        </div>
                    </div>
                    <hr>
                    <h6 class="text-muted text-uppercase small">Korrekturen &amp; Vor-Ort-Verkauf</h6>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label class="form-label">Korrigierte Bestellsumme</label>
                            {{ form.adjusted_order_total }}
                            {% include "components/field_errors.html" with field=form.adjusted_order_total %}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Korrigierte Kartengebühren</label>
                            {{ form.adjusted_card_processing_fees }}
                            {% include "components/field_errors.html" with field=form.adjusted_card_processing_fees %}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Korrigierter Netto-Bestellwert</label>
                            {{ form.adjusted_net_order_amount }}
                            {% include "components/field_errors.html" with field=form.adjusted_net_order_amount %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label class="form-label">Vor-Ort-Rabatt</label>
                            {{ form.inperson_discount }}
                            {% include "components/field_errors.html" with field=form.inperson_discount %}
                        </div>
                        <div class="col-md-8">
                            <label class="form-label">Vor-Ort-Standort</label>
                            {{ form.inperson_location }}
                            {% include "components/field_errors.html" with field=form.inperson_location %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>
